html {
  height: 100%;
  background-color: #e5e5e5;
}

body {
  height :100%;
  width: 1202px;
  border: 1px solid black;
  border-top: 0;
  background-color: white;
  margin: auto;
}

.columm {
  height: inherit;
  float: left;
  width: 400px;
  text-align: center;
  border-right: 1px solid black;
}

.no-right-border {
  border-right: 0;
}

h1 {
  margin: 0;
  padding: 50px 0px 50px 50px;
  border-bottom: 1px solid #000000;
}

img {
  width: 300px;
  height: 200px;
  margin: auto;
}
